// Portfolio item 2 modal popup
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Extrinsic Motivation 
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/extrinsic.jpg', alt='...')
                            p How is extrinsic Motivation used in the Workforce? 
                            p 1.Targeting the Right Rewards:
                            p Why it matters: People are motivated by different things. What excites one employee might leave another completely uninspired. A generic approach to rewards won't maximize their potential. Some employees might crave financial stability and security, making salary increases or performance-based bonuses highly effective. Others might thrive on recognition and social validation - for them, public praise, awards, or even a prestigious job title could be far more motivating. Some employees might value flexibility and work-life balance, so perks like extra time off or work-from-home options could be the key to their motivation.
                            p How to implement: Understanding these individual motivations requires open communication with your employees. Informal conversations, structured surveys, and dedicated one-on-one meetings can help you uncover what drives each person on your team. Tailor your extrinsic rewards accordingly. For example, if an employee expresses a desire for professional development, create opportunities for them to attend conferences or training programs. If another employee shares the stress of work-life balance, consider offering flexible work hours or remote working options. This personalized approach will make your extrinsic motivators more powerful and prevent them from feeling like empty gestures.

                            p 2.Balancing Extrinsic with Intrinsic Motivation:
                            p Why it matters in-depth: Extrinsic motivation, while useful for short-term goals or sparking initial engagement, can only take you so far. If employees feel that their work is solely a means to an end (a paycheck, a promotion, etc.), they're more likely to become disengaged and lose sight of the value of their work. Intrinsic motivation - the desire to do something because of its inherent satisfaction and meaning - is a far more sustainable drive for long-term success.
                            p How to do it in-depth: Cultivating intrinsic motivation alongside extrinsic rewards is key. Ensure that employees understand how their work contributes to the company's mission and overall goals. This helps them find meaning in their tasks. Provide opportunities for growth and professional development, allowing employees to build knowledge and feel a sense of progress. Grant employees as much autonomy as possible, allowing them to control aspects of their work and take ownership of projects. This sense of responsibility and control can be intrinsically motivating. When combined with a sense of purpose, skill development, and autonomy, extrinsic rewards become powerful additions. They reinforce achievement and progress, but they aren't the sole reason for an employee's dedication.

                            ul.list-inline
                                li
                                    strong Client:
                                    | Explore
                                li
                                    strong Category:
                                    | Graphic Design
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Project